<robot name="mycar" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:include filename="head.urdf.xacro" /> 
    <xacro:include filename="car_base_x.urdf.xacro" />
    <xacro:include filename="car_camre.urdf.xacro" />
    <xacro:include filename="car_laser.urdf.xacro" />

    <!-- 集成运动控制 -->
    <xacro:include filename="gazebo/move.xacro" />
    <xacro:include filename="gazebo/laser.xacro" />
    <!-- <xacro:include filename="gazebo/camera.xacro" /> -->
    <xacro:include filename="gazebo/kinect.xacro" />

</robot>