<!-- 键盘控制乌龟运动 -->
<launch>

    <!-- 将乌龟的话题设置为与键盘的一直 -->
    <node pkg="turtlesim" type="turtlesim_node" name="t1" >
        <remap from="/turtle1/cmd_vel" to="cmd_vel" />
    </node>
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name ="k1" />
    <!-- 将键盘的话题设置为与乌龟的一直 -->

</launch>