<!-- 需要启动多个乌龟 GUI 节点 -->
<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim"  />
    
    
    <!-- 名称重映射 -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1"  />
    <!-- 命名空间 -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" ns="zhangsan" />
    
    <!-- 命名空间 + 名称重映射 -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtle2" ns="zlsi" />

</launch>