<launch>
    <!-- 需求：演示 arg 使用，需要设置多个参数，这些参数使用同一个值(如：小车的长度)，则呢蜜设置？ -->
    <!-- 方法1：逐个添加，但是修改时麻烦 -->
    <!-- <param name="A" value="0.45"/>
    <param name="B" value="0.45"/>
    <param name="C" value="0.45"/> -->

    <!-- 方法2：修改defualt=“ ” -->
    <arg name ="car_length" default ="0.35" />

    <param name="A" value="$(arg car_length)" />
    <param name="B" value="$(arg car_length)" />
    <param name="C" value="$(arg car_length)" />

    <!-- 终端下  roslaunch launch_basid arg.launch car_length:=0.6 -->

</launch>